<div class="dialog">
  <%= "#{@question}" %> <br/>
  <%= "- You" %>
</div>

<div class="dialog">
  <%= "#{@answer}" %> <br/>
  <%= "- Your coach" %>
</div>

<%= link_to "Ask a new question", ask_path %>
